@model IEnumerable<Nexus.Data.Models.CourseMaterial>
@{ ViewData["Title"] = "Materials"; }
<h1>Course Materials</h1><table class="table"><thead><tr><th>Type</th><th>Title</th><th>Download</th><th>Uploaded</th></tr></thead><tbody>
@foreach (var m in Model) { <tr><td>@m.MaterialType</td><td>@m.Title</td><td><a href="@m.FilePath" download>@m.OriginalFileName</a></td><td>@m.UploadedAtUtc</td></tr> }
</tbody></table>
